@media screen  and  (max-width: 768px)
{

/*  Général */

main {
  margin: 0;
}

/*  Header + Nav Link*/

.logo_desktop{
  display: none;
}

.logo_mobile {
  display: block;
}

.logo {
  height: 55px;
  display: flex;
  justify-content: center;
}


header nav ul li {
  border-bottom: 2px solid transparent;
  border-top: 0;
  padding: 5% 22%;
}
.nav {
  display: flex;
  justify-content: space-around;
  padding: 0%; 
  color: #0065FC;
  padding-top: 10%;
}

.navlink {
  width: 50%;
}

/*  Intro + Recherche */

.searchButton_desktop{
  display: none;
}

.info {
  text-align: center;
}

.searchSystem {
  display: flex;
  justify-content: center;
}

.searchBar {
  padding: 15px 50px;
}
.searchButton_mobile{
  display: block;
  background-color: #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  Color:white;
  cursor: pointer; 
  width: 47px;
  height: 47px;;
  border-style: none;
}



/*  Filtres */

.titrefiltres {
  margin-bottom: 0px;
}

#filtre {
  display: block;
}
.filtreContainer {
  display: flex;
  justify-content: space-between;
}
.filtreGauche {
  flex-direction: column;
  align-items: flex-start;
}

.filtreDroite {
  display: block;
}


/* Info */

.info {
  display: flex;
  justify-content: center;
}


/*  Hébergement container */

.hebergement_container{
  flex-direction: column-reverse;
  row-gap: 20px;
}

/*  Hébergement à Marseille */
.hebergement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  row-gap: 15px;
}

.hotelHeberg {
  width: 90%;
  margin:0px;
}

#hébergement {
  width: 100%;
  background-color: white;
  height:auto ;
}

/*  Les plus populaires */

.TitrePopulaire {
  margin-bottom: 10%;
}

.hebergPopulaire {
  margin-bottom: 5%;
  row-gap: 15px;
}

.iconeChart {
  position: absolute;
  right: 4%;
}

aside {
  width: 100%;
  border-radius: 0;
}

.hotelPopulaire {
  width: 90%;
  margin: 0px;  
}

/* Activités */

#activité {
  height: auto;
}
.Vignettes {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: auto;
}

.VignetteActivité1, .VignetteActivité2, .VignetteActivité3, .VignetteActivité4, .VignetteActivité5, .VignetteActivité6 {
  height: 240px;
  width: 90%;
}

.imgActivité1, .imgActivité2, .imgActivité3, .imgActivité4, .imgActivité5, .imgActivité6 {
  height: 72%;
}



.colonne, .colonneDouble {
  width: 100%;
  flex-direction: column;
  row-gap: 15px;
  display: flex;
  align-items: center;
}
/* Footer */

footer {
  flex-direction: column;
}

.colonneFooter {
  width: 100%;
}

}