@media screen  and  (max-width: 765px)
{

/*  Général */

main {
  margin: 0;
}

/*  Header + Nav Link*/

.logo_desktop{
  display: none;
}


.logo {
  height: 55px;
  display: flex;
  justify-content: center;
}


header nav ul li {
  border-bottom: 2px solid transparent;
  border-top: 0;
}
.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0%; 
  color: #0065FC;
}

/*  Intro + Recherche */

.intro{
  display: flex;
  text-align: center;
}

.searchButton_desktop{
  display: none;
}

.info {
  text-align: center;
}

.searchSystem {
  display: flex;
  align-items: center;
}

.searchButton_mobile{
  background-color: #0065FC;
  border-radius: 10px;
  Color:white;
  cursor: pointer; 
  width: 40px;
  height: 40px;;
  border-style: none;
}



/*  Filtres */

.filtre {
  flex-direction: column;
  align-items: flex-start;
}


/*  Hébergement container */

.hebergement_container{
  flex-direction: column-reverse;
  row-gap: 20px;
}

/*  Hébergement à Marseille */
.hebergement {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hotelHeberg {
  width: 100%;
}

#hébergement {
  width: 100%;
  background-color: white;
  height:auto ;
}

/*  Les plus populaires */



aside {
  width: 100%;
  border-radius: 0;
}

/* Activités */

#activité {
  height: auto;
}
.Vignettes {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: auto;
}

.VignetteActivité1, .VignetteActivité2, .VignetteActivité3, .VignetteActivité4, .VignetteActivité5, .VignetteActivité6 {
  height: 275px;
  width: 100%;
}

.imgActivité1, .imgActivité2, .imgActivité3, .imgActivité4, .imgActivité5, .imgActivité6 {
  height: 85%;
}

.nomActivité1, .nomActivité2, .nomActivité3, .nomActivité4, .nomActivité5, .nomActivité6 {
  position: relative;
  bottom: 10px;
}

.colonne, .colonneDouble {
  width: 100%;
  flex-direction: column;
  row-gap: 15px;
}
/* Footer */

footer {
  flex-direction: column;
}

.colonneFooter {
  width: 100%;
}

}