@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
}
head {
    font-family: "Raleway", "Sans serif";
}

.nav
{
    display: flex;
    justify-content: flex-end;
    text-align: justify;
}