@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


/*Genéral*/ 


body {
    font-family: "Raleway", "Sans serif";
}

main, header{
    margin-left: 5%;
    margin-right: 5%;
}
a{
    text-decoration:none;
    color:#0065FC;
}



h3 {
    color:black;
}

p{
    color:black
}

/*Header + Nav Link*/


.logo_mobile{
    display: none;
  }
  
  
.logo_desktop {
    display: flex;
    justify-content: start;
    height: 55px;
  }
    



header nav ul li {
    padding: 50px 25px;
    border-top: 2px solid transparent;
}

header nav ul li:hover {
    border-color: #0065FC;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color:#0065FC;
}



.nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: -63px;
  }


  

/* Intro + Recherche*/  

.searchButton_mobile{
    display: none;
}
      
.searchButton_desktop{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    Color:white;
    padding: 16px 16px;
    font-weight: bold;
    cursor: pointer; 
    position: relative;
    border-style: none;
}
     
.searchBar{
    background-color: #ffffff;
    Color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer; 
    border-right: none;
    border-left: none;
    border-bottom: #F2F2F2 1px solid;
    border-top: #F2F2F2 1px solid;
    margin-left: -4px;
    margin-right: -4px;
}
      
.geoloc{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
    border-style: none;
    padding: 16px 16px;
}
      
      
.intro{
    font-size:x-large;
    display: flex;
}
      
input::placeholder {
    color: black;
}

/*  Filtres */   

.fa-child, .fa-dog, .fa-heart, .fa-money-bill-wave {
    color: #0065FC;
}

.titrefiltres {
    margin-right: 30px;
    margin-top: 50px;
}
      
.titreFiltre{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
}
    
.titreFiltreFam {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
}
    
.contourBoutton:hover {
    background: #0065FC;
    cursor: pointer;
    color: white;
}
     
.contourBoutton {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
    margin-right: 15px;
    margin-top: 35px;
}
    
.contourBouttonFam:hover {
    background: #0065FC;
    cursor: pointer;
    color: white;   
}
    
.contourBouttonFam {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 32px;
    margin-right: 15px;
    margin-top: 35px; 
}
      
.iconefiltre {
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 20px 20px;
}

#filtre {
    display: flex;
}
      
.filtreContainer {
    display: flex;
}

.filtreGauche {
    display: flex;
    align-items: center;
}

.filtreDroite {
    display: flex;
}
  

/*  Info  */

.info .fas.fa-info {
    color: #0065FC;
    border-radius: 100%;
    border: 1px solid #808080;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.info {
    display: flex;
}

/*  Hébergement Container*/

.hebergement_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




.AfficherPlus{
    font-weight: bold;
    color:black;
    margin-left: 3.5%;
}

.fa-star.grey {
    color: #F2F2F2;
}

/*  Hébergement à Marseille */


.TitreHeberg {
    margin-left: 3.5%;
    margin-top: 2.5%;
}


  
#hébergement {
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 20px;
    height: 830px;
}
  
.hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-left: 50px;     
}

.contenueArticle {
    padding-left: 10px;
    position: relative;
    bottom: 15px;
}

.hotelHeberg {
    width: 28%;
    background: white;
    border-radius: 20px;
    margin-right: 60px;
    height: 300px;
    padding: 7px;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

.hotelHeberg:hover {
    transform: scale(1.02);

}
.imgHeberg {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 67%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    
    
/*  Les plus Populaires */

aside{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    width: 29%;
   
}
.TitrePopulaire{
    display: flex;
    justify-content: space-between;
}

.iconeChart {
    position: absolute;
    right: 7%;
}

#populaire {
    display: flex;
    flex-direction: column;
} 

.hebergPopulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8%;
}

.Populaires {
    background-color: #F2F2F2;
    height: 800px;
    width: 25%;
    border-radius: 20px;
}
  
.hotelPopulaire {
    display: flex;
    width: 100%;
    height: 180px;
    background: white;
    border-radius: 20px;
    padding: 6px;
    margin-top: 10%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
  
.hotelPopulaire:hover {
    transform: scale(1.02);
}
.imgPopulaire{
    cursor: pointer;
    float: left;
    background-color: white;
    object-fit: cover;
    height: 100%;
    width: 35%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 10px;    
}
  
.fa-chart-line {
    color: #000000;
    font-size: xx-large;
}


 
  
/*  Activité */


.VignetteActivité1:hover,.VignetteActivité2:hover,.VignetteActivité3:hover,.VignetteActivité4:hover,.VignetteActivité5:hover,.VignetteActivité6:hover {
    transform: scale(1.02);
}



#activité {
    margin-bottom: 50px;
}

.Vignettes {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.nomActivité1, .nomActivité2, .nomActivité3, .nomActivité4, .nomActivité5, .nomActivité6 {
    padding-left: 15px;
}
  
.VignetteActivité1 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 700px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

.colonneDouble{
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-between;


}

.colonne {
    width: 23%;
}
.imgActivité1 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    
}
  
.nomActivité1 {
    color: black;
}
 
  
.VignetteActivité2 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 56%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
  
.imgActivité2 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 83%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
  
.nomActivité2 {
    color: black;
}
  
.VignetteActivité3 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 35%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
  
.imgActivité3 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 72%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
  }
  
.nomActivité3 {
  color: black;
  }
  
.VignetteActivité4 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 700px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    }
  
.imgActivité4 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
  }
  
  
  
.VignetteActivité5 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 48%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    }
  
.imgActivité5 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 79%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
  }
  
.nomActivité5 {
  color: black;
  
  }
  
.VignetteActivité6 {
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 48%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    }
  
.imgActivité6 {
    cursor: pointer;
    background-color: white;
    object-fit: cover;
    height: 79%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
  }
  
.nomActivité6 {
    color: black;
  
  
  }
  

/*  Footer */

footer {
    background-color:#F2F2F2;
    padding-top: 40px;
    padding-left: 60px;
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
}

footer .colonneFooter ul {
    padding: 0px;
    list-style-type: none;
}

footer .colonneFooter ul li a {
    text-decoration: none;
    line-height: 30px;
    color: black;
}
.colonneFooter {
    width: 30%;
}










