@media screen  and  (max-width: 765px)
{

.logo_desktop{
  display: none;
}


.logo {
    height: 55px;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%; 
    color: #0065FC;
    text-decoration: none;  
    text-decoration-style: none;
}





.searchButton_desktop{
  display: none;
}

.info {
  text-align: center;
}

.searchSystem {
  display: flex;
  align-items: center;
}

.searchButton_mobile{
    background-color: #0065FC;
    border-radius: 10px;
    Color:white;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer; 
    position: relative;
    width: 40px;
    height: 40px;;
    border-style: none;
}

.searchBar{
    background-color: #ffffff;
    Color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer; 
    border-style: none;
}

.geoloc{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
    border-style: none;
    height: 40px;
    width: 40px;
}

.filtre {
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #ffffff;
}

.intro{
    font-size:x-large;
    display: flex;
    justify-content: center; 
    text-align: center;
}

input::placeholder {
    color: black;
  }

#icone {
    color:#0065FC;
    list-style-type: none;
}

.titrefiltres {
  margin-right: 30px;
  margin-top: 50px;
  }
    
  .titreFiltre{
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
  }
  
  .contourBoutton:hover {
  background: #0065FC;
  cursor: pointer;
  color: white;
    }
    
  .contourBoutton {
  display: flex;
  align-items: center;
  border: 2px solid #808080;
  border-radius: 32px;
  margin-right: 15px;
  margin-top: 35px;
  min-width: 40%;
  max-width: 40%;
  }

.contourBouttonFam:hover {
background: #0065FC;
cursor: pointer;
color: white;
}
 
.contourBouttonFam{
  border: 2px solid #808080;
  border-radius: 32px;
  margin-right: 15px;
  margin-top: 35px;
  min-width: 40%;
  max-width: 40%;
  position: absolute;
  margin-left: 50%;
  display: flex;
  justify-content: left;
}  

.titreFiltreFam {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center; 
  position: relative;
  top: 20px;
}
  .iconefiltre {
  background-color: #DEEBFF;
  border-radius: 100%;
  padding: 20px 20px;
  }

.fas {
  color: #0065fc;
}

.Populaires {
  background-color: #F2F2F2;
  height: 650px;
  width: 100%;
  
  }

.hotelPopulaire {
display: flex;
width: 80%;
background: white;
border-radius: 20px;
margin-bottom: 20px;
height: 160px;
padding: 10px;
margin-left: 5%;
}



.imgPopulaire {
cursor: pointer;
float: left;
background-color: white;
object-fit: cover;
height: 90%;
width: 40%;
border-radius: 5px;
}

.hebergement {
height: 750px;
width: 100%;
position: relative;
top: 10px;
}
       
.hotelHeberg {
width: 60%;
background: white;
border-radius: 20px;
margin-right: 50px;
height: 160px;
padding: 10px;
}
    }


#activité {
  position: relative;
  top: 350px;
  margin-right: 0%;
}

@media screen  and  (min-width: 765px){
   
.logo_mobile{
  display: none;
}


.logo_desktop {
display: flex;
justify-content: start;
height: 55px;
}
  
body {
margin: 1%;
}

.nav {
display: flex;
justify-content: flex-end;
grid-area: navbar;
list-style-type: none;
position: relative;
bottom: 30px;
}
  
.nav[data-active="true"] {
border-top: 2px solid #0065FC;
}
  
.navlink {
padding: 30px;
transition-duration: 0.1s;
border-top: 2px transparent solid;
}    



.searchButton_mobile{
display: none;
}
  
.searchButton_desktop{
background-color: #0065FC;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
Color:white;
padding: 15px 15px;
font-weight: bold;
cursor: pointer; 
position: relative;
border-style: none;
}
  
.searchBar{
background-color: #ffffff;
Color:rgb(0, 0, 0);
font-weight: bold;
padding: 15px 20px;
cursor: pointer; 
border-style: none;
}
  
.geoloc{
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
position: relative;
border-style: none;
padding: 15px 15px;
}
  
  
.intro{
font-size:x-large;
display: flex;
}
  
input::placeholder {
color: black;
}
  
   
#populaire {
display: flex;
justify-content: flex-end;
}
 
.titrefiltres {
margin-right: 30px;
margin-top: 50px;
}
  
.titreFiltre{
font-weight: bold;
padding-left: 10px;
padding-right: 20px;
}

.titreFiltreFam {
font-weight: bold;
padding-left: 10px;
padding-right: 20px;
}

.contourBoutton:hover {
background: #0065FC;
cursor: pointer;
color: white;
  }
  
.contourBoutton {
display: flex;
align-items: center;
border: 2px solid #808080;
border-radius: 32px;
margin-right: 15px;
margin-top: 35px;
}

.contourBouttonFam:hover {
background: #0065FC;
cursor: pointer;
color: white;
}

.contourBouttonFam {
display: flex;
align-items: center;
border: 2px solid #808080;
border-radius: 32px;
margin-right: 15px;
margin-top: 35px; 
}
  
.iconefiltre {
background-color: #DEEBFF;
border-radius: 100%;
padding: 20px 20px;
}
  
.fas {
color: #0065fc;
}
  
.filtre {
display: flex;
align-items: center;
}

.TitreHeberg {
  position: relative;
  bottom: 20px;
}

.hebergement {
background-color: #F2F2F2;
height: 750px;
width: 70%;
border-radius: 20px;
position: relative;
bottom: 700px;
display: flex;
flex-wrap: wrap;


}

.imgheberg {
height: 300px;
object-fit: cover;
max-width: 100%;
width: 100%;
max-height: 100%;
}



.Populaires {
background-color: #F2F2F2;
height: 700px;
width: 30%;
border-radius: 20px;
position: relative;
right: 0px;
}

.hotelPopulaire {
display: flex;
width: 60%;
background: white;
border-radius: 20px;
margin-bottom: 10px;
height: 160px;
padding: 10px;
margin-top: 3%;
margin-left: 10%;
}

.imgPopulaire {
cursor: pointer;
float: left;
background-color: white;
object-fit: cover;
height: 90%;
width: 40%;
border-radius: 5px;
}

.hotelHeberg {
  display: flex;
  justify-content: center;
  width: 33%;
  background: white;
  border-radius: 20px;
  margin-right: 50px;
  height: 160px;
  padding: 10px;
  margin-top: 2%;
  }
}


h3 {
  color:black;
}
p{
  color:black
}

#activité {
  position: relative;
  bottom: 700px;
}

.AfficherPlus{
  position: relative;
  top: 225px;
  right: 400px;
  font-weight: bold;
  color:black;
}